.Image {
  flex: 100%;
  position: relative;
  margin-top: 15px;
}

.Image img {
  width: 100%;
}

.Image .label {
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}