.Loan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.Title {
  color: #fff;
  background: #000;
  flex: 100%;
  padding: 20px;
}

.Box {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
}

.BoxHeading {
  margin-left: 20px;
  font-weight: bold;
}